<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/light.css">
  <style>{% include "static/alertbox.css" %}</style>
  <style>
      label {
          width: 100%;
      }

      input[type="text"] {
        margin-top: 8px;
        width: 100%;
      }

      .subtle-hl {
        text-decoration: underline;
        text-decoration-style: dotted;
        text-underline-offset: 1px;
        text-decoration-color: #bebebe;
      }
  </style>
  <title>Mailing List Prettifier</title>
</head>
<body>
  <div class="container">
    <div class="warning-msg">
      Only <a href="https://lore.kernel.org">lore.kernel.org</a> threads are currently supported
    </div>
    <h2>Welcome to the mailing-list-prettifier!</h2>
    <br>
    <div class="intro">
      Turning boring old plaintext mailing list threads into reddit-style posts!<br>
      Features include collapsible comments, (default) hidden quoted text, and
      <span class="subtle-hl" title="if its at the end of a message*">syntax highlighting for diffs</span>.
      See <a href="/view?src=https%3A%2F%2Flore.kernel.org%2Flinux-nfs%2F20210407001658.2208535-1-pakki001%40umn.edu%2F#message-<20210407001658.2208535-1-pakki001@umn.edu>">sample</a>
    </div>
    <br>
    <div class="section"></div>
    {% for e in errors %}
      <div class="error-msg">{{ e }}</div>
    {% endfor %}
    <form action="/view" method="get">
      <label>Enter a mailing list URL
        (like <a href="https://lore.kernel.org/linux-nvme/20210425085753.2617424-2-ming.lei@redhat.com" target="_blank">this one</a>)<br>
        <input type="text" name="src" placeholder="https://lore.kernel.org/rust-for-linux/message-id">
      </label>
      <input type="submit" title="This may take a few seconds">
    </form>
  </div>
  <footer>
    <a href="https://forms.gle/99HaEPAQa71AHXd18" target="_blank">feedback</a>&nbsp;
    <!-- <a href="/issues">known-issues</a> -->
  </footer>
</body>
</html>
