<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/light.css">
  <style>{% include "static/alertbox.css" %}</style>
  <title>Known Issues</title>
</head>
<body>
  <div class="container">
    <div class="warning-msg">
      Only <a href="https://lore.kernel.org">lore.kernel.org</a> threads are currently supported
    </div>
    <details open>
      <summary>Message [not found]</summary>
      <strike>Messages that are [not found]
      on the mailing list but have replies against them are not rendered correctly.
      And by that I mean the message and all of its descendants do not show up at all 🙈.
        I will fix this soon</strike> - <strong>Fixed!</strong>
    </details>
  </div>
  <footer>
    <a href="/">home</a>&nbsp;
    <a href="https://forms.gle/99HaEPAQa71AHXd18" target="_blank">feedback</a>
  </footer>
</body>
</html>
