<!doctype html>
<html lang="en">
<head>
  <title>{{ title }}</title>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/light.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
          integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
          crossorigin="anonymous"></script>
  <style>{% include "static/pygments.css" %}</style>
  <style>{% include "static/alertbox.css" %}</style>
  <style>{% include "static/thread.css" %}</style>
  <script>
    function togglePost(e) {
      var message = $(e).parents('.message:first'),
        toggle = message.find(".toggle:first"),
        isCollapsed = message.hasClass("message--collapsed");
      message.toggleClass("message--collapsed");
      isCollapsed ? toggle.text("[–]") : toggle.text("[+]");
    }
    function toggleQuote(e) {
      var quote = $(e).parents('.quote:first')
      quote.toggleClass("quote--collapsed");
    }
  </script>
</head>
<body>
  <nav>
    <a class="link" href="/">home</a>
  </nav>
  {% if cached %}
    <div class="warning-msg warning-msg--cached">
      Viewing cached copy generated
      <span title="{{ pull_time }}">{{ pull_time_str }}</span>
    </div>
  {% endif %}
  <h2 id="title-top">{{ title }}</h2>
  <div class="footer">
    <a class="link" href="{{ original }}" target="_blank">original</a>&nbsp;
    <a class="link" href="https://forms.gle/99HaEPAQa71AHXd18" target="_blank">report an issue</a>&nbsp;
  </div>
  <hr>
  <div class="container">
    {{ contents | safe }}
  </div>
  <footer>
    <a href="/">home</a>&nbsp;
    <a href="https://forms.gle/99HaEPAQa71AHXd18" target="_blank">feedback</a>&nbsp;
    <!-- <a href="/issues">known-issues</a> -->
  </footer>
</body>
</html>
